/* 顶部状态栏沉浸高度 */
.status-bar {
  width: 100%;
  height: var(--status-bar-height);
  background: #FF6699;
  /* background: rgba(0, 0, 0, 0.2); */
}

/*荟吧标签*/
.huiba-tag {
  color: #FF6699;
  background: #FFF0F5;
  font-size: 28rpx;
  padding: 2rpx 18rpx;
  border-radius: 4rpx;
}

/*选择器高度*/
.picker-h500r {
  height: 500rpx;
}

/* 一些网格占位 */
.mlr05v {
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.mb05v {
  margin-bottom: 0.5%;
}

.w44v {
  width: 44%;
}

.w45v {
  width: 45%!important;
}

.w50v {
  width: 50%!important;
}

.flex-24v-mblr05v {
  flex: 0 0 24%;
  margin: 0 0.5% 0.5%;
}

.w25v-mb2v {
  margin-bottom: 2%;
  width: 25%;
}

.w32v-mb2v {
  margin-bottom: 2%;
  width: 32%;
}

.w48v-mb2v {
  margin-bottom: 2%;
  width: 48%;
}

/*线条*/
.line-gl-c222 {
  flex: 1;
  height: 4rpx;
  min-width: 56rpx;
  background: linear-gradient(to right, rgba(222, 222, 222, 0), rgba(222, 222, 222, 1));
}

.line-gr-c222 {
  flex: 1;
  height: 4rpx;
  min-width: 56rpx;
  background: linear-gradient(to left, rgba(222, 222, 222, 0), rgba(222, 222, 222, 1));
}

/* 详情页内导航条 */
.tabbar-fixed {
  position: fixed;
  left: 0;
  right: 0;
  /* #ifdef H5 */
  top: 88rpx;
  /* #endif */
  /* #ifndef H5 */
  top: 0;
  /* #endif */
  z-index: 300;
  background: #FFFFFF;
  margin-bottom: 0;
  border-bottom: 2rpx #EEEEEE solid;
}

.tabbar {
  color: #555555;
  border-bottom: 4rpx transparent solid;
}

.tabbarsh {
  color: #FF6699;
  border-bottom: 4rpx #FF6699 solid;
}

/* 滑动scroll导航条 */
.scroll-bar {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
  background: #FFFFFF;
}

/* 滑动scroll导航条项 */
.scroll-bar-item33v {
  display: inline-block;
  width: 33%;
  height: 80rpx;
  line-height: 80rpx;
  text-align: center;
  font-size: 32rpx;
  color: #555555;
  border-bottom: 4rpx transparent solid;
}

.scroll-bar-item25v {
  display: inline-block;
  width: 25%;
  height: 80rpx;
  line-height: 80rpx;
  text-align: center;
  font-size: 32rpx;
  color: #555555;
  border-bottom: 4rpx transparent solid;
}

.scroll-bar-item20v {
  display: inline-block;
  width: 20%;
  height: 80rpx;
  line-height: 80rpx;
  text-align: center;
  font-size: 32rpx;
  color: #555555;
  border-bottom: 4rpx transparent solid;
}

/* 滑动scroll导航条项高亮 */
.scroll-bar-itemsh {
  color: #FF6699;
  border-bottom: 4rpx #FF6699 solid;
}

/* 提交按钮 */
.btn-sub {
  color: #FFFFFF;
  font-size: 36rpx;
  text-align: center;
  line-height: 96rpx;
  border-radius: 56rpx;
  border: none;
  background: linear-gradient(to right, #ff94b8, #ff699b);
}

.btn-hover {
  opacity: 0.7;
}

button[disabled] {
  opacity: 0.7;
  color: #FFFFFF;
}

/* 获取验证码文字 */
.getcode {
  padding: 28rpx 18rpx;
  border-left: 2rpx #f1f1f1 solid;
  font-size: 28rpx;
  color: #03a9f4;
  text-align: center;
  width: 175rpx;
}

/* 动画飞入 */
.anima-fly-in3 {
  animation: fly-in 0.3s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes fly-in {
  0% {
    opacity: .5;
    -webkit-transform: scale(0.5) translate3d(0, 0.5rem, 0);
    transform: scale(0.5) translate3d(0, 0.5rem, 0);
  }

  45% {
    opacity: 1;
    -webkit-transform: scale(1.05) translate3d(0, -0.5rem, 0);
    transform: scale(1.05) translate3d(0, -0.5rem, 0);
  }

  to {
    -webkit-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
  }
}

/* 动画插入 */
.anima-punch-in3 {
  animation: punch-in 0.3s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes punch-in {
  from {
    opacity: 0.01;
    transform: scale(1.35);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* 动画放大 */
.anima-out-in3 {
  animation: zoom-in 0.3s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes zoom-in {
  from {
    opacity: 0.01;
    transform: scale(0.75);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* 动画滑上 */
.anima-slide-up3 {
  animation: slide-up .3s 1;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* 动画淡出 */
.anima-fade3 {
  animation: fade .3s 1;
}

@keyframes fade {
  from {
    opacity: 0.01;
  }

  to {
    opacity: 1;
  }
}
